.container {
  overflow: hidden;
}

.contenido {
  border: 1px solid green;
  display: none;
  margin-top: 10px;
  font-weight: 600;
  text-shadow: 0 2px 8px rgba(44, 62, 80, 0.12), 0 1px 0 rgba(0, 0, 0, 0.06);
}
.container:hover .ocultar {
  display: none;
}


.container:hover .contenido {
  display: block;
  max-height: 100%;
}

.titulo {
  width: 100%;
  height: auto;
}
.container:hover .titulo {
  height: 30px;
  display: flex;
}

/* -------- Breakpoint para computadores -------- */
@media (min-width: 768px) {
  .container {
    transition: width 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  }
  .container:hover {
    border: 1px solid blue;
    width: 150vw;
    height: 55vh;
    transition: width 0.5s linear, border 0.5s linear, box-shadow 0.5s linear;
    box-shadow: 24px 0 48px -8px rgba(0, 0, 0, 1); /* Sombra más fuerte y difuminada en eje X */
  }
}
/* -------- Breakpoint para celulares -------- */
@media (max-width: 767px) {
  .contenido {
    max-height: 0; /* contenido oculto */
    overflow: hidden; /* ocultar desbordes */
    transition: max-height 0.5s ease;
  }

  .contenido.activo {
    max-height: 500px; /* o el valor que permita mostrar todo */
    transition: max-height 0.5s ease;
  }
}
